.footer {
    background: #6d4e3a;
    height: 100px;
    position: relative;
    color: #fff;
    overflow: auto;
    display: block;
}
.footer>.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4c3729;
    padding: 8px;
    font-weight: 600;
}
.footer>.bottom>img {
    width: 20px;
    position: relative;
    top: 3px;
    left: 2px;
}
img {
    border-style: none;
}